body{
    margin: 0;
    padding: 0;
    background-color: #0992d2;
    font-family: 'Lato' sans-serif;
    box-sizing: border-box;
}

#navbar {
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff ;

}
#logo-container{
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

#logo-container img{
    width: 25px;
    height: 22px;
    background-color: #0992d2;
}

#navbar .right img{
    cursor: pointer;
}


#nav-items{
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    /* gap: 15px; */
}

#nav-items li{
    cursor: pointer;
}

#main-header{
    display: flex;
    justify-content:flex-end;
    color: #ffffff;
    position: relative;
}


#main-header .left{
    position: absolute;
    width: 40%;
    top: 10px;
    left: 8%;
    height: 100%;
    color: #ffffff;    
}

#main-header .left .big-text{
    font-size: 70px;
    color: #ffffff;
    font-weight: 900;
}

#main-header .left #overview{
    display: flex; 
    justify-content: start;
    margin-top: 40px;
    gap: 15px;
} 

#main-header .left #overview .overview-items{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#main-header .left #overview .overview-items h4{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
    
}
.gradient-text{
    color: #ff00f2;
}

#main-header .left #overview .overview-items .p{
    margin: 0;
    padding: 0;
    font-weight: 300 ;
}


#main-header .imgg{
  
    width: 90%;
    height: 100%;
    z-index: -10;
    /* mix-blend-mode: hard-light; */
}

#main-header .imgg img {
    display: flex;
    justify-content: center;
    width: 211vh;
    height: 130vh;
    margin: -21vh;
}

.buttons{
    display: flex;
    gap: 10px;
}

.btn{
    padding: 10px 20px;
    border: 1px solid #7d63f1;
    cursor: pointer;
    transform: skewX(-20deg);
    background-color: transparent;
    color: #ffffff;
}

.btn1{
    background: #2d1e6b;
    background: linear-gradient(45deg,#7d63f1 6%,#2c2c94 28%,#f805d0 97%);
}

/* .band{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    color: #ffffff;
    transform: rotate(-3deg);
    background: #ffffff40;
    box-shadow: 0 80px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
} */


.game-grid{
    position: absolute;
    bottom: -130px;
    left: 8%;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

    width: 500px;
}

.game-card{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);

    padding: 20px;
    border-radius: 15px;

    color: white;

    box-shadow: 0 8px 20px rgba(0,0,0,0.3);

    transition: 0.3s ease;
}

.game-card:hover{
    transform: translateY(-10px);
    cursor: pointer;
}